.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    margin: 5px 10px;
}

.header__left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-left: 15px;
}

.header__middle{
    display: flex;
    align-items: center;
    flex: 0.7;
    background-color: whitesmoke;
    padding: 6px;
    margin: 8px;
    border-radius: 8px;
}

.header__middle > .MuiSvgIcon-root{
    color: grey;
}

.header__middle > input {
    border: none;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    outline-width: 0;
    font-size: medium;
}

.header__right{
    display: flex;
    align-items: center; 
    padding-right: 20px;
}